p{
    font-family: 'Poppins', sans-serif;
    color: #223642;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    margin: 0;  
}

.profile-image {
  width: 100%;
  height: 100%;
}

.home-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 5%;
}

.home-page__left-section {
    flex: 1;
}

.home-page__right-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20%;
}

.other-page li{
    font-family: 'Poppins', sans-serif;
    color: #223642;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    margin: 0;
}

.other-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 5% 20%;
    row-gap: 20%; 
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 5%;
}

.nav a {
    text-decoration: none; 
    color: #223642; 
    display: block; 
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding : 10px 20px;
}

.nav a:hover {
    text-decoration: underline;
}

a.active {
    color: rgb(130, 188, 236);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

